@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding', monospace;
  scroll-behavior: smooth;
  text-decoration: none;
  overflow-x: hidden;

}


body {
  min-height: 100vh;
  /* max-width: 100vw; */
  background: #23263A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: x-large;
  color: #f7f7fa;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  background: #23263A;
}

h1 {
  font-size: 70px;
}

h5 {
  color: #32354e;

}

hr {
  color: #FF4A57;
  border-color: #FF4A57;
}

:root {
  --cor-da-imagem: #7DCE82;
  --graus-diferenca: 123;
}


.styled {
  width: 300px;
  border: 0;
  line-height: 2.5;
  padding: 0 20px;
  font-size: 1.5rem;
  text-align: center;
  color: #f7f7fa;
  background-color: #FF4A57;

}

* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.child {
  width: 70%;
  height: auto;
  padding: 100px;
}

.child2 {
  padding-top: 200px;
  width: 60vw;
  height: auto;
  padding: 50px;
  background-color: #2B2D41;
}

.child5 {
  background-color: #23263A;
  padding: 200px;

}

.child3 {
  width: 60%;
  height: auto;
  padding: 50px;
  background-color: #2B2D41;

}

.child4 {
  width: 60%;
  height: auto;
  padding: 50px;
}

.caixa{
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


form {
  width: 100%;
  max-width: 30rem;
}

label,
input,
a,
textarea,
button {
  display: block;
}

input,
textarea,
button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 0rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #FF4A57;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 0.5rem;
  color: #84868f;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  border-radius: 0px;
  color: white;
  background: #FF4A57;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Nanum Gothic Coding', monospace;
}

button:hover,
button:focus {
  outline: none;
  background: #FF4A57;
}

button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}



#home_sec {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}

.buceta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.animation{
  height: 100vh;
}

section{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

form{
  width: 100vw;
}

