@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nanum Gothic Coding', monospace;
  scroll-behavior: smooth;
  text-decoration: none;
  overflow-x: hidden;


}


body {
  min-height: 100vh;
  /* max-width: 100vw; */
  background: #23263A;
  font-family: 'Nanum Gothic Coding', monospace;
  font-size: x-large;
  color: #f7f7fa;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

canvas {
  background: #23263A;
}

h1 {
  font-size: 70px;
}

h5 {
  color: #40456c;

}

hr {
  color: #FF4A57;
  border-color: #FF4A57;
}
@media (max-width: 2480px){

  .abtm{
    width: auto;
    border: 0;
    padding: 0.5vw;
    line-height: 2.5;
    font-size: 1.5rem;
    text-align: center;
    color: #f7f7fa;
    background-color: #FF4A57;
  }

  .styled {
    width: 60vw;
    border: 0;
    padding: 0.5vw;
    line-height: 2.5;
    font-size: 1.5rem;
    text-align: center;
    color: #f7f7fa;
    background-color: #FF4A57;
  }



  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .child {
    width: 100vw;
    height: 100vh;
    padding-top: 0vh;
    margin-bottom: 10vh;
    padding-right: 75vw;
    margin-top: 30vh;
    margin-left: 10vw;
    
  }

  .child2 {
    width: 100vw;
    height: 100vh;
    background-color: #23263A;
    align-items: center;
    justify-content: center;
  }

  .child5 {
    background-color: #23263A;
    padding: 200px;
    
  }

  .child3 {
    width: 100vw;
    height: 110vh;
    text-align: center;
    justify-content: center;
    
    
    
  }

  .child4 {
    width: 100vw;
    height: 100vh;
    padding: 50px;
  }

  .caixa{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .box{
    background-color: #2B2D41;
    height: auto;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vh;
    padding-right: 3vh;
    margin-left: 15vw;
    margin-right: 15vw;
    margin-top: 15vh;
    margin-bottom: 15vh;
    align-items: center;
  }

  .contato_div{
    margin: 15vw;
    display: flex;
    flex-direction: column;
    align-items: ;
  }
  .icons{
    width: 40px;
  }
}


@media (max-width: 500px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
    scroll-behavior: smooth;
    text-decoration: none;
    overflow-x: hidden;
  
  }
  body{
    min-height: 100vh;
    background: #23263A;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: x-large;
    color: #f7f7fa;
  
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .abtm{
    width:50vw;
    padding: 0.5vw;
    line-height: 2.5;
    font-size: 1.5rem;
    text-align: center;
    color: #f7f7fa;
    background-color: #FF4A57;
  }
  .child {
    width: 100vw;
    height: 100vh;
    margin-bottom: 25vh;
    padding-right: 20vw;
    margin-top: 25vh;
    margin-left: 10vw;
    overflow-x: hidden;
    
  }
  .child2 {
    width: 100vw;
    height: 95vh;
    background-color: #23263A;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
  }
  .child3 {
    width: 100vw;
    height: 110vh;
    text-align: center;
    justify-content: center;
    overflow-y: hidden;
  }
  .caixa{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow-y: hidden;
  }

  .box{
    background-color: #2B2D41;
    
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    padding-left: 1.5vh;
    padding-right: 1.5vh;
    margin-left: 15vw;
    margin-right: 15vw;
    align-items: center;
    overflow-y: hidden;
  }
}
form {
  width: 100%;
  max-width: 30rem;
}

label,
input,
a,
textarea,
button {
  display: block;
}

input,
textarea,
button {
  width: 100%;
  font: inherit;
  padding: 1.25rem;
  font-weight: 700;
}

input,
textarea {
  margin-bottom: 1rem;
  color: white;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 0rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #FF4A57;
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label {
  margin-bottom: 0.5rem;
  color: #84868f;
}

textarea {
  min-height: 12.5rem;
  resize: vertical;
}

button {
  border: none;
  border-radius: 0px;
  color: white;
  background: #FF4A57;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Nanum Gothic Coding', monospace;
}

button:hover,
button:focus {
  outline: none;
  background: #FF4A57;
}

button:disabled {
  cursor: not-allowed;
  background: #555b69;
}

.success,
.error {
  text-align: center;
}

.success {
  color: greenyellow;
}

.error {
  color: tomato;
}



#home_sec {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);

}

.buceta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

}

.animation{
  height: 100vh;
}

section{
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

form{
  width: 100vw;
}


.wrapper-icons{
  display: flex;
  justify-content: space-evenly;

  padding: 10px;
}

.wrapper-icons .icons{
  width: 40px;
  height: 40px;
  margin-bottom: 5vh;   
}

.socia-wrapper{
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  margin-bottom: 5vh;

}

